Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: file
